.nds-form-element__legend > span {
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: .3125rem;
    word-break: normal;
}
.nds-form-element__control-animated-label {
    font-size: 1.123rem;
    position: relative;
}