<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>cboyd@onesharehealth.com</emailSenderAddress>
    <emailSenderName>Member Community</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>true</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <permissionSet>ChargentOrders__Chargent_User_Orders</permissionSet>
        <permissionSet>ChargentAnyObj_Payment_Request</permissionSet>
        <permissionSet>ChargentBase__Chargent_User_Base</permissionSet>
        <permissionSet>vlocity_ins__Vlocity_Health</permissionSet>
        <permissionSet>vlocity_ins__Vlocity_Insurance</permissionSet>
        <permissionSet>Knowledge_Article_Editor</permissionSet>
        <permissionSet>Assign_Client_Manager</permissionSet>
        <permissionSet>Create_Reports_and_Dashboards</permissionSet>
        <permissionSet>redwing__LMS_Admin</permissionSet>
        <permissionSet>redwing__LMS_External_User</permissionSet>
        <permissionSet>redwing__LMS_Publisher</permissionSet>
        <permissionSet>redwing__LMS_User</permissionSet>
        <permissionSet>ltui__LMS_ILT_Admin</permissionSet>
        <permissionSet>ltui__LMS_ILT_Instructor</permissionSet>
        <permissionSet>ltui__LearnTrac_Lightning_UI_User</permissionSet>
        <permissionSet>scormanywhere__Player_Admin</permissionSet>
        <permissionSet>scormanywhere__Player_User</permissionSet>
        <permissionSet>vtui__ViewTrac_Lightning_UI_User</permissionSet>
        <permissionSet>rwscorm__LMS_Player_Admin</permissionSet>
        <permissionSet>rwscorm__LMS_Player_User</permissionSet>
        <permissionSet>LMS_Custom_PS</permissionSet>
        <permissionSet>LMS_ILT_Instructor_Classes_Access</permissionSet>
        <permissionSet>Vlocity_CLM_Guest_User_OS</permissionSet>
        <permissionSet>Reset_Passwords</permissionSet>
        <permissionSet>Transfer_Cases</permissionSet>
        <permissionSet>Login_As_Partner_Community_User</permissionSet>
        <permissionSet>Recordings_Object</permissionSet>
        <permissionSet>dsfs__DocuSign_Administrator</permissionSet>
        <permissionSet>vlocity_ins__VlocityMobilePermissions</permissionSet>
        <permissionSet>vlocity_ins__Vlocity_Admin</permissionSet>
        <permissionSet>ChargentBase__Chargent_Admin_Base</permissionSet>
        <permissionSet>ChargentBase__Permission_Set_for_Payment_Request_Base</permissionSet>
        <permissionSet>ChargentOrders__Chargent_Admin_Orders</permissionSet>
        <permissionSet>ChargentOrders__Permission_Set_for_Payment_Request_Chargent_Orders</permissionSet>
        <permissionSet>Transfer_Record</permissionSet>
        <permissionSet>icAgentConsole__inContact_Agent_Permission</permissionSet>
        <permissionSet>pi__Sales_Edge</permissionSet>
        <permissionSet>pi__Pardot_Integration_User</permissionSet>
        <permissionSet>pi__Pardot_Connector_User</permissionSet>
        <permissionSet>pi__Pardot</permissionSet>
        <permissionSet>Password_Never_Expires</permissionSet>
        <permissionSet>Manage_Billing_for_Salesforce</permissionSet>
        <permissionSet>Sales_User</permissionSet>
        <permissionSet>sfdcInternalInt__sfdc_aiplatform</permissionSet>
        <permissionSet>ChargentAnyObj_Payment_Console</permissionSet>
        <permissionSet>vfirst__Verified_First_Extend_Edit_Report_Access</permissionSet>
        <permissionSet>vfirst__Verified_First_Extend_Read_Report_Access</permissionSet>
        <permissionSet>Create_Escalation_Case</permissionSet>
        <permissionSet>Create_Internal_Users</permissionSet>
        <permissionSet>ProducerCommunityPermissionSet</permissionSet>
        <permissionSet>Provider_Permisions_Extension</permissionSet>
        <permissionSet>Manage_Email_Templates</permissionSet>
        <permissionSet>Read_Ministry_Requests</permissionSet>
        <permissionSet>Community_Producer_Login_Portal_Extended</permissionSet>
        <permissionSet>cterminal__Chargent_Terminal_Admin</permissionSet>
        <permissionSet>cterminal__Chargent_Terminal_Unlinked_Payments</permissionSet>
        <permissionSet>cterminal__Chargent_Terminal_User</permissionSet>
        <permissionSet>Vlocity_CLM_Lightning_Partner_Community</permissionSet>
        <profile>admin</profile>
        <profile>member community</profile>
        <profile>member community admin test</profile>
        <profile>data model member</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Designer</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Designer</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Member_Community1</picassoSite>
    <selfRegProfile>data model member</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Member_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>redwing__Achievement_Category__c</customTab>
        <customTab>redwing__Achievement__c</customTab>
        <customTab>vlocity_ins__Application__c</customTab>
        <customTab>vlocity_ins__Assessment__c</customTab>
        <customTab>vlocity_ins__AssignedToMe</customTab>
        <customTab>Vlocity_Upgrade_Install_Wizard</customTab>
        <customTab>vlocity_ins__ProductAttributeSetValueRulesUpgrade</customTab>
        <customTab>redwing__Learning_Category__c</customTab>
        <customTab>scormanywhere__Catalog__c</customTab>
        <customTab>vlocity_ins__Catalog__c</customTab>
        <customTab>vlocity_ins__ChargeMeasurement__c</customTab>
        <customTab>ChargentAnyObj__Chargent_Button_Creator</customTab>
        <customTab>ChargentOrders__ChargentOrder__c</customTab>
        <customTab>ChargentBase__Chargent_Settings</customTab>
        <customTab>cterminal__Chargent_Terminal_Unlinked_Payments</customTab>
        <customTab>vlocity_ins__InsuranceClaim__c</customTab>
        <customTab>dc_Commission_Table__c</customTab>
        <customTab>dc_Commission_Transaction__c</customTab>
        <customTab>vlocity_ins__ContractType__c</customTab>
        <customTab>redwing__Criterion__c</customTab>
        <customTab>redwing__Criteria_Bank__c</customTab>
        <customTab>vlocity_ins__CustomerInteraction__c</customTab>
        <customTab>Vlocity_Diagnostic_Wizard</customTab>
        <customTab>dsfs__DocuSign_Admin</customTab>
        <customTab>dsfs__EnvelopeConfiguration__c</customTab>
        <customTab>dsfs__DocuSign_Envelope_Document__c</customTab>
        <customTab>dsfs__DocuSign_Envelope_Recipient__c</customTab>
        <customTab>dsfs__DocuSign_Envelope__c</customTab>
        <customTab>dfsle__Envelope__c</customTab>
        <customTab>dfsle__GenTemplate__c</customTab>
        <customTab>dfsle__Setup</customTab>
        <customTab>dsfs__DocuSign_Status__c</customTab>
        <customTab>dfsle__EnvelopeStatus__c</customTab>
        <customTab>vlocity_ins__DocumentClause__c</customTab>
        <customTab>vlocity_ins__DocumentTemplate__c</customTab>
        <customTab>vlocity_ins__Drug__c</customTab>
        <customTab>pi__Sales_Edge</customTab>
        <customTab>pi__Lead_Deck</customTab>
        <customTab>pi__Sales_Edge_Reports</customTab>
        <customTab>pi__EngageSalesTools</customTab>
        <customTab>vlocity_ins__ExpandedInteractionLog__c</customTab>
        <customTab>vlocity_ins__FeeSchedule__c</customTab>
        <customTab>vlocity_ins__FieldMapper</customTab>
        <customTab>vlocity_ins__Formulary__c</customTab>
        <customTab>vlocity_ins__FulfilmentRequest__c</customTab>
        <customTab>ChargentBase__Gateway__c</customTab>
        <customTab>vlocity_ins__Household__c</customTab>
        <customTab>redwing__ILT_Event__c</customTab>
        <customTab>redwing__ILT_Location__c</customTab>
        <customTab>redwing__Instructor__c</customTab>
        <customTab>vlocity_ins__VlocityCode__c</customTab>
        <customTab>vlocity_ins__IntegrationRetryPolicy__c</customTab>
        <customTab>Interaction__c</customTab>
        <customTab>vlocity_ins__Interface_InsurancePolicy__c</customTab>
        <customTab>vlocity_ins__ItemImplementation__c</customTab>
        <customTab>vlocity_ins__Jurisdiction__c</customTab>
        <customTab>Knowledge__kav</customTab>
        <customTab>redwing__LMS_Cache__c</customTab>
        <customTab>redwing__Learning</customTab>
        <customTab>redwing__SubTabAchievements</customTab>
        <customTab>redwing__Training_Activity__c</customTab>
        <customTab>redwing__Learning_Assignment__c</customTab>
        <customTab>redwing__Learning__c</customTab>
        <customTab>redwing__Training_Plan_Assignment__c</customTab>
        <customTab>redwing__Training_Plan__c</customTab>
        <customTab>redwing__Training_Track__c</customTab>
        <customTab>vlocity_ins__ManualQueue__c</customTab>
        <customTab>vlocity_ins__MarketingEvent__c</customTab>
        <customTab>scormanywhere__Course__c</customTab>
        <customTab>Media_Admin</customTab>
        <customTab>dc_MemberAsset__c</customTab>
        <customTab>Ministry_Request__c</customTab>
        <customTab>redwing__My_Training</customTab>
        <customTab>scormanywhere__My_Courses</customTab>
        <customTab>vlocity_ins__NonHeldPolicy__c</customTab>
        <customTab>vlocity_ins__Occurrence__c</customTab>
        <customTab>vlocity_ins__OrchestrationPlanDefinition__c</customTab>
        <customTab>vlocity_ins__OrchestrationPlan__c</customTab>
        <customTab>vlocity_ins__OrchestrationQueueAssignmentRule__c</customTab>
        <customTab>vlocity_ins__OrchestrationQueue__c</customTab>
        <customTab>vlocity_ins__OrchestrationSchedulerImplementation__c</customTab>
        <customTab>pi__ProspectInsight</customTab>
        <customTab>pi__Pardot_LeadDeck</customTab>
        <customTab>ChargentOrders__Payment_Request__c</customTab>
        <customTab>dc_Producer_Commission__c</customTab>
        <customTab>dc_ProducerAsset__c</customTab>
        <customTab>vlocity_ins__ProductConfigurationProcedure__c</customTab>
        <customTab>vlocity_ins__ProductRelationship__c</customTab>
        <customTab>vlocity_ins__ProductSelection</customTab>
        <customTab>vlocity_ins__ProductTemplate__c</customTab>
        <customTab>vlocity_ins__ProviderFeeSchedule__c</customTab>
        <customTab>vlocity_ins__ProviderNetwork__c</customTab>
        <customTab>vlocity_ins__RateBand__c</customTab>
        <customTab>Recording__c</customTab>
        <customTab>Regulatory_Record__c</customTab>
        <customTab>vlocity_ins__RelationshipGraphAdmin</customTab>
        <customTab>icAgentConsole__incAgentConfiguration__c</customTab>
        <customTab>pi__Sales_Cloud_Engage_License_Assignment</customTab>
        <customTab>vlocity_ins__FinancialSecurity__c</customTab>
        <customTab>Vlocity_Step_Creator</customTab>
        <customTab>redwing__Start_Here</customTab>
        <customTab>vlocity_ins__System__c</customTab>
        <customTab>vlocity_ins__PriceList__c</customTab>
        <customTab>cterminal__Terminal_Configuration</customTab>
        <customTab>cterminal__Terminal_Payment__c</customTab>
        <customTab>Text_and_Disclosure__c</customTab>
        <customTab>vlocity_ins__ThorOrchestrationQueue__c</customTab>
        <customTab>ChargentOrders__Transaction__c</customTab>
        <customTab>scormanywhere__Transcript__c</customTab>
        <customTab>ChargentBase__Unresolved_Transactions</customTab>
        <customTab>ChargentBase__Unresolved_Transactions_LEX</customTab>
        <customTab>UpgradePlan__c</customTab>
        <customTab>UpgradeStep__c</customTab>
        <customTab>vfirst__Field_Mapping</customTab>
        <customTab>vfirst__Verified_First_Portal</customTab>
        <customTab>vfirst__Verified_First_Report__c</customTab>
        <customTab>vfirst__Setup</customTab>
        <customTab>vlocity_ins__VlocityAction__c</customTab>
        <customTab>vlocity_ins__AttributeCategory__c</customTab>
        <customTab>vlocity_ins__VlocityAttributeCategory</customTab>
        <customTab>vlocity_ins__CalculationMatrix__c</customTab>
        <customTab>vlocity_ins__CalculationProcedure__c</customTab>
        <customTab>vlocity_ins__VlocityCardHome</customTab>
        <customTab>vlocity_ins__ContentAttribute</customTab>
        <customTab>vlocity_ins__ContextDimension__c</customTab>
        <customTab>vlocity_ins__VlocityContractTerms</customTab>
        <customTab>vlocity_ins__DataPacks</customTab>
        <customTab>vlocity_ins__DataRaptor</customTab>
        <customTab>vlocity_ins__DRMapper</customTab>
        <customTab>vlocity_ins__Interface_DRGeneric__c</customTab>
        <customTab>vlocity_ins__VlocityDocuSignSetup</customTab>
        <customTab>vlocity_ins__VlocityDocumentClauses</customTab>
        <customTab>vlocity_ins__VlocityContractDocumentTemplate</customTab>
        <customTab>vlocity_ins__EntityFilter__c</customTab>
        <customTab>vlocity_ins__IntegrationProcedureHome</customTab>
        <customTab>vlocity_ins__VlocityIntelligenceMachine</customTab>
        <customTab>vlocity_ins__VlocityIntelligenceResource</customTab>
        <customTab>vlocity_ins__VlocitySearchWidgetSetup__c</customTab>
        <customTab>vlocity_ins__OfferingProcedure__c</customTab>
        <customTab>vlocity_ins__OmniScriptHome</customTab>
        <customTab>vlocity_ins__OmniScriptWorkbench</customTab>
        <customTab>vlocity_ins__VlocityAdministration</customTab>
        <customTab>vlocity_ins__PartyRelationshipType__c</customTab>
        <customTab>vlocity_ins__Picklist__c</customTab>
        <customTab>vlocity_ins__VlocityIndustryConsole</customTab>
        <customTab>vlocity_ins__Rule__c</customTab>
        <customTab>vlocity_ins__VlocityScheduledJob__c</customTab>
        <customTab>vlocity_ins__VlocityStateModel__c</customTab>
        <customTab>vlocity_ins__VlocityUITemplateDesigner</customTab>
        <customTab>vlocity_ins__UiFacet__c</customTab>
        <customTab>vlocity_ins__UiSection__c</customTab>
        <customTab>vlocity_ins__VlocityXOMAdministration</customTab>
        <customTab>Work_Item__c</customTab>
        <customTab>redwing__vILT_Account_Member__c</customTab>
        <customTab>redwing__vILT_Account__c</customTab>
        <customTab>redwing__vILT_Meeting__c</customTab>
        <customTab>vlocity_ins__FlexCards</customTab>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
        <standardTab>AccountBrand</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>WaveHome</standardTab>
        <standardTab>AppLauncher</standardTab>
        <standardTab>KnowledgePublishing</standardTab>
        <standardTab>Asset</standardTab>
        <standardTab>AuthorizationForm</standardTab>
        <standardTab>AuthorizationFormConsent</standardTab>
        <standardTab>AuthorizationFormDataUse</standardTab>
        <standardTab>AuthorizationFormText</standardTab>
        <standardTab>WorkBadgeDefinition</standardTab>
        <standardTab>WorkBadge</standardTab>
        <standardTab>Campaign</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>ChannelProgramLevel</standardTab>
        <standardTab>ChannelProgram</standardTab>
        <standardTab>CommSubscriptionChannelType</standardTab>
        <standardTab>CommSubscriptionConsent</standardTab>
        <standardTab>CommSubscriptionTiming</standardTab>
        <standardTab>CommSubscription</standardTab>
        <standardTab>ContactPointConsent</standardTab>
        <standardTab>ContactPointTypeConsent</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>ContentSearch</standardTab>
        <standardTab>Contract</standardTab>
        <standardTab>Dashboard</standardTab>
        <standardTab>DataUseLegalBasis</standardTab>
        <standardTab>DataUsePurpose</standardTab>
        <standardTab>DuplicateRecordSet</standardTab>
        <standardTab>EngagementChannelType</standardTab>
        <standardTab>File</standardTab>
        <standardTab>CollaborationGroup</standardTab>
        <standardTab>home</standardTab>
        <standardTab>Idea</standardTab>
        <standardTab>Image</standardTab>
        <standardTab>Individual</standardTab>
        <standardTab>Knowledge</standardTab>
        <standardTab>Lead</standardTab>
        <standardTab>Workspace</standardTab>
        <standardTab>ListEmail</standardTab>
        <standardTab>Macro</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>Order</standardTab>
        <standardTab>PartyConsent</standardTab>
        <standardTab>OtherUserProfile</standardTab>
        <standardTab>Pricebook2</standardTab>
        <standardTab>Product2</standardTab>
        <standardTab>UserProfile</standardTab>
        <standardTab>ProfilePlatformFeed</standardTab>
        <standardTab>ProfilePlatformOverview</standardTab>
        <standardTab>Quote</standardTab>
        <standardTab>Recognition</standardTab>
        <standardTab>Recommendation</standardTab>
        <standardTab>report</standardTab>
        <standardTab>Scorecard</standardTab>
        <standardTab>SocialPersona</standardTab>
        <standardTab>SocialPost</standardTab>
        <standardTab>Solution</standardTab>
        <standardTab>StreamingChannel</standardTab>
        <standardTab>ContentSubscriptions</standardTab>
        <standardTab>UserProvisioningRequest</standardTab>
        <standardTab>WorkOrder</standardTab>
    </tabs>
    <urlPathPrefix>membercommunity</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
