<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>cboyd@onesharehealth.com</emailSenderAddress>
    <emailSenderName>Producer Community</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <permissionSet>scormanywhere__Player_Admin</permissionSet>
        <permissionSet>rwscorm__LMS_Player_Admin</permissionSet>
        <permissionSet>dsfs__DocuSign_Administrator</permissionSet>
        <permissionSet>vlocity_ins__Vlocity_Admin</permissionSet>
        <permissionSet>ChargentBase__Chargent_Admin_Base</permissionSet>
        <permissionSet>dfsle__DocuSign_Administrator</permissionSet>
        <permissionSet>ChargentOrders__Chargent_Admin_Orders</permissionSet>
        <permissionSet>ChargentOrders__Chargent_User_Orders</permissionSet>
        <permissionSet>ChargentAnyObj_Payment_Request</permissionSet>
        <permissionSet>ChargentAnyObj_Payment_Console</permissionSet>
        <permissionSet>cterminal__Chargent_Terminal_Admin</permissionSet>
        <permissionSet>cterminal__Chargent_Terminal_Unlinked_Payments</permissionSet>
        <permissionSet>cterminal__Chargent_Terminal_User</permissionSet>
        <permissionSet>dfsle__CLM_Administrator</permissionSet>
        <permissionSet>ltui__LMS_ILT_Admin</permissionSet>
        <permissionSet>redwing__LMS_Admin</permissionSet>
        <permissionSet>ChargentBase__Chargent_User_Base</permissionSet>
        <profile>admin</profile>
        <profile>data model producer</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Designer</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Designer</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Producer_Community1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Producer_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>vlocity_ins__VlocityAction__c</customTab>
        <customTab>vlocity_ins__AttributeCategory__c</customTab>
        <customTab>vlocity_ins__VlocityAttributeCategory</customTab>
        <customTab>vlocity_ins__CalculationMatrix__c</customTab>
        <customTab>vlocity_ins__CalculationProcedure__c</customTab>
        <customTab>vlocity_ins__VlocityCardHome</customTab>
        <customTab>vlocity_ins__ContentAttribute</customTab>
        <customTab>vlocity_ins__ContextDimension__c</customTab>
        <customTab>vlocity_ins__VlocityContractTerms</customTab>
        <customTab>vlocity_ins__DataPacks</customTab>
        <customTab>vlocity_ins__DataRaptor</customTab>
        <customTab>vlocity_ins__DRMapper</customTab>
        <customTab>vlocity_ins__Interface_DRGeneric__c</customTab>
        <customTab>vlocity_ins__VlocityDocuSignSetup</customTab>
        <customTab>vlocity_ins__VlocityDocumentClauses</customTab>
        <customTab>vlocity_ins__VlocityContractDocumentTemplate</customTab>
        <customTab>vlocity_ins__EntityFilter__c</customTab>
        <customTab>vlocity_ins__IntegrationProcedureHome</customTab>
        <customTab>vlocity_ins__VlocityIntelligenceMachine</customTab>
        <customTab>vlocity_ins__VlocityIntelligenceResource</customTab>
        <customTab>vlocity_ins__VlocitySearchWidgetSetup__c</customTab>
        <customTab>vlocity_ins__OfferingProcedure__c</customTab>
        <customTab>vlocity_ins__OmniScriptHome</customTab>
        <customTab>vlocity_ins__OmniScriptWorkbench</customTab>
        <customTab>vlocity_ins__VlocityAdministration</customTab>
        <customTab>vlocity_ins__PartyRelationshipType__c</customTab>
        <customTab>vlocity_ins__Picklist__c</customTab>
        <customTab>vlocity_ins__VlocityIndustryConsole</customTab>
        <customTab>vlocity_ins__Rule__c</customTab>
        <customTab>vlocity_ins__VlocityScheduledJob__c</customTab>
        <customTab>vlocity_ins__VlocityStateModel__c</customTab>
        <customTab>vlocity_ins__VlocityUITemplateDesigner</customTab>
        <customTab>vlocity_ins__UiFacet__c</customTab>
        <customTab>vlocity_ins__UiSection__c</customTab>
        <customTab>vlocity_ins__VlocityXOMAdministration</customTab>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Contract</standardTab>
    </tabs>
    <urlPathPrefix>producercommunity</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
