#RequestedEffectiveDateReview{
	font-size: 0.9rem !important;
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    color: #404040 !important;
	opacity: 1 !important;
	letter-spacing: 1px !important;
	margin-top: 10px !important;
}

#SelectedProgramPriceReview{
	font-size: 0.9rem !important;
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    color: #404040 !important;
	opacity: 1 !important;
	letter-spacing: 1px !important;
	margin-top: 10px !important;
}

#SelectedProgramReview{
	font-size: 0.9rem !important;
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    color: #404040 !important;
	opacity: 1 !important;
	letter-spacing: 1px !important;
	margin-top: 10px !important;
}

#PrimaryLanguageReview{
	font-size: 0.9rem !important;
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    color: #404040 !important;
	opacity: 1 !important;
	letter-spacing: 1px !important;
	margin-top: 10px !important;
}

#enrollmentSummary label {
	font-size: 0.9rem !important;
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    color: #404040 !important;
	opacity: 1 !important;
	letter-spacing: 1px !important;
}

#BlkMedicalQuestions input{
	font-size: 0.9rem !important;
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    color: #404040 !important;
	opacity: 1 !important;
	letter-spacing: 1px !important;
	margin-top: 10px !important;	
}


#radioMedicalServiceFunctionReviewQuestion{
	letter-spacing: 1px !important;
    padding-bottom: 0px !important;
    margin-bottom: -3px !important;
}