#medicalInaccuratePopup .flotingpopup{
    // position: fixed;
    // bottom: 31% !important;
    // right: 1% !important;
    max-width: 60%;
    overflow-wrap: normal;
    border-radius: 30px;
    background-color: #f79c33;
    color: #fff;
    font-size: 0.875rem;
}