.nds-radio--button [type=radio]:checked+.nds-radio_button__label .nds-radio-overlay, .nds-radio_button [type=radio]:checked+.nds-radio_button__label .nds-radio-overlay {
    position: absolute;
    border: 2px solid #FF881d;
    top: -.125rem;
    right: -.125rem;
    left: -.125rem;
    bottom: -.125rem;
    display: block;
    z-index: 999;
    border-radius: .25rem;
}

.nds-has-error .nds-form-element__help  {
text-transform: none !important;
}

.nds-radio_custom-group .nds-radio--button [type=radio]:checked+.nds-radio--button__label, .nds-radio_custom-group .nds-radio--button [type=radio]:checked+.nds-radio--faux, .nds-radio_custom-group .nds-radio--button [type=radio]:checked+.nds-radio_button__label, .nds-radio_custom-group .nds-radio--button [type=radio]:checked+.nds-radio_faux, .nds-radio_custom-group .nds-radio--button [type=radio]:checked~.nds-radio--faux, .nds-radio_custom-group .nds-radio--button [type=radio]:checked~.nds-radio_faux, .nds-radio_custom-group .nds-radio_button [type=radio]:checked+.nds-radio--button__label, .nds-radio_custom-group .nds-radio_button [type=radio]:checked+.nds-radio--faux, .nds-radio_custom-group .nds-radio_button [type=radio]:checked+.nds-radio_button__label, .nds-radio_custom-group .nds-radio_button [type=radio]:checked+.nds-radio_faux, .nds-radio_custom-group .nds-radio_button [type=radio]:checked~.nds-radio--faux, .nds-radio_custom-group .nds-radio_button [type=radio]:checked~.nds-radio_faux {
    background-color: transparent;
    color: #fff;
    width: 100%;
    border: 2px solid #FF881d;

}

.nds-form-element__label ng-binding {
    color: #404040 !important;
}

th{
    font-weight: 400 !important;
}

h1{
    color: #404040 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 25px !important;
    font-weight: 500 !important;
}

h2, h3, h6{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    color: #404040 !important;
}

h5 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

.ng-binding{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    //color: #404040 !important;
    
}

#prompt-heading-id {
    color: white !important;
}

.timelapse {
    color: #F8991D !important;
}

.via-nds .vloc-small-group-plan-selection .vloc-plan-box-body .vloc-link {
    color: #F8991D !important;
}

p{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
    color: #404040 !important;
}

div{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

body{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

html{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

.nds-select{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

.nds-input{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

.census-table tr td input{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

.nds-progress__item.nds-is-active .nds-progress__marker {
 border-color: #004FA3 !important;
}

.nds-progress-bar__value {
background: rgba(0, 79, 163, 0.75) !important;
}

.nds-button_brand {
border-radius: 25px !important;
background: #004FA3 !important;
color: #FFFFFF !important;
}

.nds-button_neutral {
border-radius: 25px !important;
}

.nds-step_label{
color: #004FA3 !important;
font-family: 'Montserrat', sans-serif !important;
font-size: 25px !important;
font-weight: 500 !important;
}

.nds-progress__item{
fill: #004FA3 !important;
color: #004FA3 !important;
}

.nds-button__icon {
fill:  #004FA3 !important;
}

.nds-radio_custom-faux {
color: #404040 !important;
}

a {
color:  #004FA3 !important;
}

.nds-is-active {
border-color: #004FA3 !important;
}

.nds-spinner_brand svg circle {
	fill: #F8991D !important;
}

.nds-spinner_brand.nds-spinner svg {
	fill: #F8991D !important;
}

.via-nds .vloc-small-group-plan-selection .vloc-plan-box-body .price-plan-container p .price{
    color: #F8991D !important;
}

p.nds-truncate.ng-binding {
    color: white !important;
}

strong {
    font-weight: 600 !important;
}
.nds-modal .nds-modal__container .nds-theme_info {
      background-color: #004FA3 !important;
}


.nds-modal__footer .nds-button+.nds-button {
       background-color: #004FA3;
       color: white;
       border-color: #004FA3;
       width: 25%;
}

.nds-modal--prompt .nds-modal__footer, .nds-modal_prompt .nds-modal__footer .nds-button_neutral {
      border-color: white;
      width: 25%;
      margin-top: 3%;  
      margin-left: 7px;
}

.nds-modal--prompt .nds-modal__footer, .nds-modal_prompt .nds-modal__footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#EXISTINGINFOPACKET__#prompt-heading-id  {
    visibility: hidden;
}

#EXISTINGINFOPACKET__#prompt-heading-id:after {
    visibility: visible;
    position: absolute;
    content: "Testt";
}

.nds-fade-in-open b {
    font-size: 14px;
}