.ol-decimal {
    list-style-type: decimal;
}

.ol-lower-alpha {
    list-style-type: lower-alpha;
}
.p-title {
    font-weight: bold;
}

.disclaimersTitle{
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 100%;
    background-color: #D9E2F3;
    margin-bottom: 15px;
}

.disclaimersLine{
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 20px;
}