.nds-form-element__legend > span {
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: .3125rem;
    word-break: normal;
}
.tellUsAboutYouFields  .nds-required {
    color: #c23934;
    margin: 0 .125rem 0 -0.18rem;
    visibility: hidden;
}